<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="form_container col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>

              <!-- Sign In Form -->
              <form
                [formGroup]="formData"
                (ngSubmit)="onLogin()"
              >
                <div class="form-floating mb-3">
                  <h4>Email address</h4>
                  <input
                    placeholder="Username"
                    type="text"
                    id="username"
                    class="form-control"
                    formControlName="userName"
                    [(ngModel)]="loginObj.email"
                  />

                  <div class="form-floating mb-3">
                    <h4>Password</h4>
                    <input
                      type="password"
                      id="inputPassword"
                      class="form-control"
                      formControlName="password"
                      placeholder="Password"
                      [(ngModel)]="loginObj.password"
                    />
                  </div>
                </div>
                <div class="d-grid">
                  <button
                    class="btn-login btn-primary btn-block"
                    type="submit"
                    id="loginButton"
                  >
                    Sign in
                  </button>
                  <div class="text-center">
                    <a class="small" href="#">Forgot password?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
