<h1 class="text-center m-5 noSelect">Products</h1>

<div class="container noSelect">

      <div class="d-flex flex-wrap">
  
        <div class="grid-container w-50 p-3">
  
          <div class="grid-child" >
  
          <img class="grid-image" src="../../assets/images/beCuriousShirt.png" alt=""/>
  
        <button class="button product-button" routerLink="/shirts"><i class="icon fa-solid fa-shirt" ></i><span>Shirts</span></button>
  
        </div>
  
        </div>
  
        <div class="grid-container w-50 p-3">
  
        <div class="grid-child">
  
          <img class="grid-image" src="../../assets/images/beCuriousBook.png" alt=""/>
  
          <button class="button product-button" routerLink="/books"><i class="icon fa-solid fa-book"></i><span>Books</span></button>
  
        </div>
  
      </div>
  
    </div>
  
    </div>
