/* Checkout Cart */
.cart-container {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.product-container {
  justify-content: center;
}

.cart-item {
  background: none;
}

.cart-button {
  background-color: #164734;
  color: #fdfdfd;
}

.img-thumbnail {
  margin-left: 10px;
  margin-right: 10px;
  background: none;
}

table {
  width: 100%;
  border-width: 2px;
  border-color: #164734;
  border-radius: 10px;
}

h5 {
  font-size: 75px;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
}


.popup {
  text-align: center;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  height: auto;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 999px){
  
  .popup{
    width: 70%;
  }
}