<h1 class="text-center m-5 noSelect">Books</h1>

<div class="container noSelect">
  <div class="product-container d-flex flex-wrap text-center">
    <div class="product-item" *ngFor="let book of books$ | async">
      <div>
        <img
          class="product-image"
          src="{{ book.image }}"
          alt="{{ book.name }}"
        />
      </div>
      <span>{{ book.name }}</span
      ><br />
      <span>{{ book.price | currency: "GBP":true }}</span
      ><br />
      <button class="button product-button" (click)="addToCart(book)">
        <i class="add-to-cart fa-solid fa-cart-plus"></i
        ><span> Add To Cart</span>
      </button>
    </div>
  </div>
  <div class="productOverlay noSelect" *ngIf="popup" (click)="popup = false">
    <div class="popup">
      <div class="content">
        Added to Cart!
      </div>
    </div>
  </div>
</div>


